html,body{
	height: 100%;
}
.login-container{
	background: #0060AD url(../img/loginbg.jpg) no-repeat left top;
	color: #fff !important;
}
.nav-icon{
	border: 1px solid #ACC7C1 !important;
	border-top: 4px solid #B8B8B8 !important;
	background: #C8DDD9;
}
.nav-icon a:hover{
	text-decoration: none;
}
.iapp-navbar{
	margin-bottom: 6px !important;
}
.active-tab{
	background-color: #0099C9;
	border: 1px solid #0099C9 !important;
	border-top: 4px solid #117696 !important;
}
.active-tab a{
	color: #fff !important;
}
.active-tab h5, .active-tab h6{
	color: #fff !important;
	font-weight: bold;
}
.title-line{
	padding-bottom: 4px !important;
	border-bottom: 1px solid #dfdfdf;
}
.container-bordered{
	border:1px solid #dfdfdf !important;
	border-top: 3px solid #EAEBEC !important;
	position: relative !important
}
.iapp-footer{
	background-color: #F8F8F8;
	display: block;
	padding: 10px;
	margin-top: 40px;
	border-top:2px solid #dfdfdf;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-top: 30px !important;
	padding-bottom: 8px !important;
	font-size: 12px;
}
.wrapper{
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}
.choices-holder {
   margin-left: 17% !important;
}
.iapp-lg-btn{
	height: 61px;
	margin-top: -6px;
	border-bottom: 3px solid #034E8E;
	font-size: 20px;
}
.iapp-lg-btn.disabled{
	background-color: #337ab7;
	border-color: #2e6da4;
	border-bottom: 4px solid #2e6da4;
}
}
.iapp-date{
	  padding: 0px 8px !important;
}
.iapp-terms, .iapp-policy{
	/*font-size: 13px !important;*/
	padding-left: 14px !important;

}
.container-bordered  input[type="email"], select,input[type="text"],input[type="number"],input[type="date"]{
	height: 40px !important;
	padding: 9px 18px !important;
}
.remove-element{
	position: relative;
	top: 29px;
	font-size: 17px;
	font-weight: bold;
}
.remove-element:hover{
	text-decoration: none;
	cursor: pointer;
}
.status-print-btn{
	width: 70px;
	padding: 6px 0px;
	border-radius: 13px;
	background: #0099C9;
	border: 0px;
	font-size: 13px;
	border-color: #087A9D;
	color: #fff; 
}
.pagination-view{
	position: absolute;
	right: 3%;
	top: 7%;
	font-weight: bold;
}
.iapp-ok{
	color: #009CCE;
	padding-left: 22px;
}
.iapp-badge{
	display: inline-block;
	min-width: 10px;
	padding: 4px 18px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #0099C9;
	border-radius: 10px;
}
.datepicker:before {
	border-left: 0px solid transparent !important; 
	border-right: 0px solid transparent !important; 
	border-bottom: 0px solid #ccc !important; 
}
input.ng-invalid, textarea.ng-invalid, select.ng-invalid {
/*border: 1px solid #a94442;*/
}
input.ng-valid, textarea.ng-valid, select.ng-valid {
  border: 1px solid rgb(195, 201, 202);
  /*border: 1px solid green;*/
}
.pagination>li>a, .pagination>li>span{
	color: #337AB7 !important;
	margin-right: 8px;
	border-radius: 2px !important;
	font-weight: bold;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #337AB7 !important;
	color: #fff!important;
	border-radius: 2px !important;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	cursor: default !important;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 2px !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
	border-radius: 2px !important;
}
