html,body{
	height: 100%;
}
.login-container{
	background: #0060AD url(../img/loginbg.jpg) no-repeat left top;
	color: #fff !important;
}
.nav-icon{
	border: 1px solid #dfdfdf !important;
	border-top: 4px solid #EAEBEC !important;
}
.nav-icon a:hover{
	text-decoration: none;
}
.iapp-navbar{
	margin-bottom: 6px !important;
}
.active-tab{
	background-color: #337ab7;
	border: 1px solid #337ab7 !important;
	border-top: 4px solid #1A5D96 !important;
}
.active-tab a{
	color: #fff !important;
}
.active-tab h5, .active-tab h6{
	color: #fff !important;
}
.title-line{
	padding-bottom: 4px !important;
	border-bottom: 1px solid #dfdfdf;
}
.container-bordered{
	border:1px solid #dfdfdf !important;
	border-top: 3px solid #EAEBEC !important;
}
.iapp-footer{
	background-color: #F8F8F8;
	display: block;
	padding: 10px;
	margin-top: 40px;
	border-top:2px solid #dfdfdf;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.wrapper{
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}
.choices-holder {
  padding-top: 13px;
}
.iapp-lg-btn{
	height: 61px;
	margin-top: -6px;
	border-bottom: 3px solid #034E8E;
	font-size: 20px;
}
.iapp-date{
	  padding: 0px 8px !important;
}
.iapp-terms, .iapp-policy{
	font-size: 13px !important;
}
.container-bordered  input[type="email"], select,input[type="text"],input[type="number"],input[type="date"]{
	height: 40px !important;
	padding: 9px 18px !important;
}
.remove-element{
	position: relative;
	top: 29px;
	font-size: 17px;
	font-weight: bold;
}
.remove-element:hover{
	text-decoration: none;
	cursor: pointer;
}

.datepicker:before {
	border-left: 0px solid transparent !important; 
	border-right: 0px solid transparent !important; 
	border-bottom: 0px solid #ccc !important; 
}
input.ng-invalid, textarea.ng-invalid, select.ng-invalid {
/*border: 1px solid #a94442;*/
}
input.ng-valid, textarea.ng-valid, select.ng-valid {
border: 1px solid green;
}
